@charset "UTF-8";

@font-face {
  font-family: "Oswald";
  src: url(fonts/Oswald-VariableFont_wght.ttf);
}

:root {
  --font01: "Oswald", cursive;
  --white-color: #ffffff;
  --black-color: #212121;

  --fade: fade-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

* {
  padding: 0px;
  margin: 0px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--font01);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--black-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--mx-width, 1200px);
  padding: 0px var(--gutter, 15px);
  margin: 0px auto;
}

.item-floating {
  position: absolute;
  font-size: 15px;
  font-weight: 600;
  right: 0;
  top: -8px;
  background-color: orange;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.list-block a {
  position: relative;
  font-size: 14px;
  color: grey;
  padding: 5px 0px;
  display: inline-block;
  transition: color 0.3s;
}

.list-block a:hover {
  color: black;
}

.list-block a::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 0px;
  height: 0px;
  left: -15px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: width 0.3s, height 0.3s;
}

.list-block a:hover::before {
  width: 8px;
  height: 8px;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.inner-header {
  line-height: 80px;
  box-shadow: 0px 0px 5px black;
}

.inner-header :where(.wrap, .menu > ul),
.list-inline > ul {
  display: flex;
  align-items: center;
}

.header-right,
.header-left {
  flex-grow: 1;
}

.header-center nav {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 180px;
  max-width: 720px;
}

.header-center .branding {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  margin-top: 10px;
}

.header-center .branding a {
  line-height: inherit;
  pointer-events: auto;
}

.header-center .menu > ul > li > a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px 15px;
  display: flex;
  gap: 5px;
}

.header-right ul {
  justify-content: flex-end;
}

.list-inline a,
.menu-trigger {
  position: relative;
  font-size: 24px;
  padding: 0px 10px;
  line-height: 1;
  display: flex;
  transition: color 0.3s;
}

.list-inline a:hover {
  color: rgba(128, 128, 128, 0.473);
}

.header-left .list-inline {
  display: none;
}

:where(.header-left, .header-right) li {
  display: flex;
  align-items: center;
  height: 80px;
}

@media (min-width: 992px) {
  .menu-trigger {
    display: none;
  }
  .header-center nav {
    display: grid;
  }
  .header-left .list-inline {
    display: block;
  }
  nav .sub-menu {
    position: absolute;
    top: auto;
    line-height: initial;
    background-color: var(--white-color);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.267);
    z-index: 1000;
    display: none;
    animation: var(--fade);
  }

  nav.menu li:hover .sub-menu {
    display: block;
  }

  nav.menu .sub-menu {
    padding: 10px 0;
  }

  nav.menu .sub-menu li {
    padding: 5px 30px;
  }
}
