@charset "UTF-8";

@font-face {
    font-family: 'Oswald';
    src: url(fonts/Oswald-VariableFont_wght.ttf);
}

:root {
    --font01 : 'Oswald' , cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--font01);
    background-color: rgb(180, 180, 180);  

}

header  {
    
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(240, 240, 240);
    color: rgb(255, 255, 255);    
    box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.158);    
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
    
}

header > div#logo {
    display: flex;
    align-items: center;
    padding: 10px 0px;    

}

nav {
    display: flex;
    width: 500px;
    font-weight: bold; 
    
    }

nav > a {
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0px 30px;
          
}

nav > a:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.3s ;
}

#q1 {
    display: flex;
    background-color: white;
    padding: 20px;
}

main {
    padding-top: 100px;
}


div#corpo {
    padding-bottom: 20px;
    background-color: black;
}



div#produtos {    
    display: flex;
    justify-content: space-between;
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}



#produtos p {
    text-align: center;
    padding: 5px;
}

.item {
    
    width: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    margin-bottom: 10px ;
    border-radius: 5px;
}

.item img {
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
    
}

.item .buy {
    
    display: flex;
    text-align: center;
    margin: auto;
    
}

main section {
    
    background-color: white;
    padding: 10px 30px;    
    margin: auto;
    
    
}

footer {
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
}

footer > p {
    padding: 20px;
}
